<div class="text-center">
    <h1>{{title}}</h1><br>
    <a *ngIf="src" class="link" (click)="drawer.toggle()">contents</a>
</div>

<mat-grid-list cols="5" rowHeight="4:1">
    <mat-grid-tile colspan="1" rowspan="1">
        <button mat-fab color="primary" (click)="this.setSource(this.previousSrc)"
            [disabled]="!this.previousSrc">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
        <mat-icon *ngIf="this.src" class="hover" (click)="this.setSource(null)">home</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <button mat-fab color="primary" (click)="this.setSource(this.nextSrc)"
            [disabled]="!this.nextSrc">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>

<mat-drawer-container class="style-text shrink-height">
    <mat-drawer #drawer class="style-text fill-height" mode="over">
        <div *ngFor="let source of this.SRCS">
            <button mat-button (click)="this.setSource(source)">
                {{source.name}}
            </button>
        </div>
    </mat-drawer>

    <div *ngIf="src" class="border shrink-height">
        <iframe [src]="this.src | safe" width="100%" height="100%" 
                frameBorder="0"></iframe>
    </div>
    <div *ngIf="!src" class="shrink-height">
        <div matRipple class="start-button mat-elevation-z4" 
                [matRippleRadius]="100" (click)="begin()">don't click</div>
    </div>
</mat-drawer-container>

