<div id="title" class="text-center">
    <h1>{{title_1}} {{title_2}}</h1><br>
    <a *ngIf="src" class="link menu" (click)="drawer.toggle()">contents</a><br>
</div>

<mat-grid-list *ngIf="this.src" id="nav-bar" cols="5" rowHeight="4:1">

    <mat-grid-tile id="left-nav" colspan="1" rowspan="1">
        <button mat-fab id="left-button" color="primary" 
            (click)="this.setSource(this.previousSrc)" [disabled]="!this.previousSrc">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-grid-tile>

    <mat-grid-tile id="home-nav" colspan="3" rowspan="1">
        <mat-icon class="hover" (click)="this.setSource(null)">home</mat-icon>
    </mat-grid-tile>

    <mat-grid-tile id="right-nav" colspan="1" rowspan="1">
        <button mat-fab id="right-button" color="primary" 
            (click)="this.setSource(this.nextSrc)" [disabled]="!this.nextSrc">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </mat-grid-tile>

</mat-grid-list>

<mat-drawer-container class="style-text shrink-height">
    <mat-drawer #drawer class="style-text fill-height" mode="over">
        <div *ngFor="let source of this.SRCS">
            <button mat-button (click)="this.setSource(source)">
                {{source.name}}
            </button>
        </div>
    </mat-drawer>

    <div *ngIf="src" class="border almost-height"
        [innerHTML]="this.displayHTML">
        <!-- original implementation
        <iframe [src]="this.src | safe" width="100%" height="100%" 
                frameBorder="0"></iframe>
        -->
        {{this.displayHTML}}
    </div>
    <div *ngIf="!src" class="shrink-height center-flex">
        <div class="start-button">
            <button mat-fab matRipple class="shrink mat-elevation-z4" color="warning"
                [matRippleUnbounded]="true" [matRippleCentered]="true" 
                (click)="begin()">don't click</button>
        </div>
    </div>
</mat-drawer-container>

