h2{
    text-align: left;
    font-size: large;
}
p {
    background-color:rgb(41, 41, 41); 
    color:antiquewhite;
}
.star {
    text-align: center;
    color: antiquewhite;
}
.margin{
    margin: 50px;
}
.indent{
    text-indent:50px;
}