h2{
    text-align: left;
    font-size: large;
}
p {
    background-color:rgb(41, 41, 41); 
    color:antiquewhite;
}
code {
    text-align: center;
    color:wheat;
}
a{ color:skyblue; }
.text-margin{ margin-left: 10%; }
.box-margin{
    margin-top:1%;
    margin-right:10%;
    margin-left:10%;
    margin-bottom:5%;
}
.indent{ text-indent:5%; }
.center{ text-align:center; }
.tooltip {
    position: relative;
    display: inline-block;
    color:floralwhite;
    border-bottom: 2px dotted grey;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}