<mat-drawer-container class="style-text fill-height fill-width">

    <mat-drawer #drawer class="style-text sidenav" mode="side">
        <div *ngFor="let chapter of this.SRCS">
            <button mat-button (click)="this.setChapter(chapter)">
                {{chapter.name}}
            </button>
        </div>
    </mat-drawer>
    
    <div class="splash-area">
        <a class="link" (click)="drawer.toggle()">
            table of contents
        </a>
    </div>

    <div *ngIf="src" class="text-area" >
        <iframe [src]="this.src | safe" class="fill-width fill-height"></iframe>
    </div>

</mat-drawer-container>