
/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.style-text{
    background-color:rgb(41, 41, 41); 
    color:antiquewhite;
}
.fill-width { width: 100%; }
.fill-height { height: 100%; }
.fill{ width: 100%; height: 100%; }
.shrink-width{ width: 75%; }
.shrink-height{ height: 75%; }
.shrink { width: 75%; height: 75% }
.link{ 
    text-decoration: underline; 
    cursor: pointer; 
}
.hover{
    cursor: pointer;
}
.title-area{ 
    display: flex; 
    text-align: top;
    justify-content: center;
 
}
.border{
    border-style: double;
}
.text-center{
    text-align: center;
}
.no-scroll{
    overflow: hidden
}