h2{
    text-indent:50px;
    text-align: left;
    font-size:large;
}
p {
    text-indent: 50px;
    background-color:rgb(41, 41, 41); 
    color:antiquewhite;
}
.star {
    text-align: center;
    color: antiquewhite;
}